.catalog {
    margin-top: 50px;
    &__title {
        font-size: 25px;
        font-weight: 700;
        padding-top: 25px;
        text-transform: uppercase;
        color: rgb(7, 7, 7);
        @media (max-width: 1024px) {
            padding-left: 43px;;
        }
    }
    &__content {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1px;
        grid-row-gap: 20px;
        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 575px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 420px) {
            grid-template-columns: repeat(1, 1fr);
            margin-left: 70px;
        }
        @media (max-width: 320px) {
            margin-left: 20px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
            justify-content: center;
        }
        @media (max-width: 991px) {
            display: contents;
        }
    }

}