.information {
    margin-top: 100px;
    margin-bottom: 100px;
    @media (max-width: 991px) {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    @media (max-width: 575px) {
        margin-top: 15px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1200px) {
            justify-content: space-around;
        }
        @media (max-width: 575px) {
            display: contents;
        }
        
    }

    &-event {
        &__title {
            font-size: 25px;
            font-weight: 700;
            padding-top: 25px;
            text-transform: uppercase;
            color: rgb(7, 7, 7);
            @media (max-width: 575px) {
                font-size: 17px;
                padding-left: 25px;
            }
            @media (max-width: 420px) {
                font-size: 13px;
            }
        }
    
        &__image {
            margin-top: 25px;
            margin-left: 25px;
            img {
                display: block;
                width: 100%;
                @media (max-width: 575px) {
                    width: 60%;
                    margin-left: 60px;
                }
            }
            
        }
    }

    &-social {
        @media (max-width: 991px) {
            display: none;
        }
        &__title {
            font-size: 25px;
            font-weight: 700;
            padding-top: 25px;
            text-transform: uppercase;
            color: rgb(7, 7, 7);
        }
        &__content {
            margin-top: 35px;
            margin-left: 25px;
        }
        &__telegramm, &__vk {
            display: flex;
            img {
                width: 25%;
            }
        }
        &__subtitle {
            font-size: 30px;
            font-weight: 500;
            color: rgb(7, 7, 7);;
            padding-top: 16px;
            padding-left: 30px;
            text-decoration: none;
            cursor: pointer;
            @media (max-width: 991px) {
                font-size: 25px;
            }
        }

        &__line {
            margin-top: 25px;
            margin-bottom: 25px;
            width: 300px;
            height: 2px;
            background-color: black;
        }
    }
}