.popularcard {
    width: 260px;
    height: 400px;
    padding-top: 45px;
    @media (max-width: 575px) {
        width: 188px;
        height: 285px;
        padding-top: 15px;
    }
    &__image {
        img {
            display: block;
            margin: 0 auto;
            width: 30%;
            @media (max-width: 575px) {
                height: 30%;
            }
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        padding-top: 65px;
        text-align: center;
        @media (max-width: 575px) {
            font-size: 11px;
            padding-top: 16px;
        }
    
    }

   

    &__price {
        float: right;
        margin-top: 15px;
        font-size: 14px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        padding-top: 10px;
        @media (max-width: 575px) {
            font-size: 13px;
            padding-top: 5px;
        }
    }

   
}