.popularcard {
    width: 260px;
    height: 350px;
    padding-top: 45px;

    img {
        display: block;
        margin: 0 auto;
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        padding-top: 65px;
        text-align: center;
    }

    &__bottom {
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
    }

    &__price {
        font-size: 14px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        padding-top: 10px;
    }

    &__button {
        width: 75px;
        height: 35px;
        border-radius: 50px;
        border: none;
        background: #da224d;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        color: #ffff;
        font-size: 10px;
        font-weight: 500;
    }
}